references: strict
strategy: min

group Server
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Microsoft.AspNetCore.Components.WebAssembly.Server
    nuget Bolero.Server
    nuget Bolero.HotReload.Server

group Client
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
    nuget Bolero
    nuget Bolero.Build
    nuget Bolero.HotReload
    nuget Elmish
