<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="styles.css" />

        <title> PPPage Title </title>
    </head>
    <body>
        <div class="flex flex-wrap">
            <div id="header" class="flex flex-row w-screen h-16
                                    p-2
                                    bg-indigo-200
                                    items-center">
                <h1> Page Header </h1>
            </div>

            <div id="sidebar" class="flex flex-col basis-64 w-64 min-h-96
                                     p-2 rounded-r-xl
                                     bg-white drop-shadow-2xl shadow-slate-800
                                     items-center transition-all">
                Sidebar
                <ul>
                    ${Sidebar}
                    <template id="SbButtons">
                        <li>
                            <a href="${Link}">
                                <button name="${Name}" class="w-32 bg-slate-100"> ${Name} </button>
                            </a>
                        </li>
                    </template>
                </ul>
            </div>

            <div id="main" class="flex flex-col grow p-8 bg-white">
                main
            </div>

            <div id="footer" class="flex flex-row w-screen h-32 p-6 bg-white">
                footer
            </div>
        </div>
        ${Scripts}
    </body>
</html>
